body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 100px;
}

.navbar {
	background: #333;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default a:hover {
	color: #5bc0de;
}

.navbar-default .logout {
	float: right;
	margin-top: 15px;
	color: #fff;
}

#message {
	display: none;
}

.row {
	margin-bottom: 60px;
}

.panel-heading span.delete {
	float: right;
	font-size: 18px;
	color: rgba(130,0,0,0.5);
}

.panel-heading span.delete:hover {
	color: rgba(130,0,0,1);
}

.input-group .fa {
	color: #999;
}

.panel-body button {
	float: right;
}

.login-form .form-control {
	margin-right: 18px;
}