body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
}


.main
{
width: 600px;
height: 650px;
position: absolute;
top: 10%;
left: 30%;
}
h1
{
text-align: center;
background-color: #FEFFED;
height: 70px;
margin: 0 0 -29px 0;
padding-top: 14px;
border-radius: 8px 8px 0 0;
color: rgb(97, 94, 94);
}
h3
{
text-align: center;
background-color: #FEFFED;
height: 50px;
margin: 0 0 -29px 0;
padding-top: 14px;
border-radius: 8px 8px 0 0;
color: rgb(44, 152, 82);
}

#content {
position: absolute;
width: 450px;
height: 400px;
border: 2px solid gray;
border-radius: 10px;
top: 10%;
left: 35%;
}
#content label{
color: rgb(20, 17, 17);
margin-left: 60px;
}
#content1{
position: absolute;
width: 555px;
height: 500px;
border: 2px solid gray;
border-radius: 10px;
top: 10%;
left: 35%;
}
#content1 label{
color: rgb(20, 17, 17);
margin-left: 60px;
}
#image_preview{
position: absolute;
font-size: 30px;
top: 100px;
left: 100px;
width: 250px;
height: 230px;
text-align: center;
line-height: 180px;
font-weight: bold;
color: #C0C0C0;
background-color: #FFFFFF;
overflow: auto;
}
#selectImage{
padding: 12px 21px 14px 15px;
position: absolute;
bottom: 0px;
width: 414px;
background-color: #FEFFED;
border-radius: 0px 0px 8px 8px;
}
#selectImage1{
padding: 12px 126px 14px 15px;
position: absolute;
bottom: 0px;
width: 414px;
background-color: #FEFFED;
border-radius: 0px 0px 8px 8px;
}
.submit{
font-size: 16px;
background: linear-gradient(#160dff 5%, #2873ff 100%);
border: 1px solid #14008a;
color: #FEFFED;
font-weight: bold;
cursor: pointer;
width: 300px;
border-radius: 5px;
padding: 10px 0;
outline: none;
margin-top: 20px;
margin-left: 15%;
}
.submit:hover{
background: linear-gradient(#2873ff 5%, #160dff 100%);
}
#file {
color: #3C3535;
padding: 5px;
margin-top: 10px;
border-radius: 5px;
margin-left: 14%;
width: 72%;
}
#message{
position: absolute;
top: 115px;
left: 70px;
}
#message1{
position: absolute;
top: 64px;
left: 0px;
overflow: auto;
width: 545px;
height: 358px;
padding-left: 10px;
}
#success
{
color:green;
}
#invalid
{
color:red;
}
#line 
{
margin-top: 152px;
}
#line1
{
margin-top: 358px;
}
#error
{
color:red;
}
#error_message
{
color:blue;
}
#loading
{
display: none;
position: absolute;
top: 80px;
left: 70px;
font-size: 25px;
}
#note
{
position: absolute;
bottom: 40px;
}
#note1
{
color: rgb(92, 87, 199);
}
#uploadagain
{
text-decoration: none;
background: linear-gradient(#160dff 5%, #2873ff 100%);
border: 1px solid #14008a;
color: #FEFFED;
font-weight: bold;
cursor: pointer;
border-radius: 5px;
padding: 10px 35px;
outline: none;
margin-left: 31%;
}
#uploadagain:hover
{
background: linear-gradient(#2873ff 5%, #160dff 100%);
}